<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'ecommerce:home' %}">
      <i class="bi bi-bag-fill"></i>
      PortafolioCommerce
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecommerce:home' %}">
            <i class="bi bi-house-door"></i>
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecommerce:product_list' %}">
            <i class="bi bi-grid"></i>
            Productos
          </a>
        </li>

        {% if user.is_authenticated %} 
        {% if user.is_staff %}

        <li class="nav-item">
          <a class="nav-link" href="#"> Administrar productos </a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecommerce:carrito' %}"> Carrito </a>
        </li>

        {% endif %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-person-circle"></i>

            {{ user.get_full_name|default:user.username }}
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}

                <button type="submit" class="dropdown-item">
                  Cerrar sesión
                </button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"> Iniciar sesión </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
