{% extends "base.html" %} {% block title %} Catálogo | PortafolioCommerce{%endblock %} 
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Catálogo de Productos</h1>

  {% if user.is_staff %}

  <a href="{% url 'ecommerce:product_create' %}" class="btn btn-success">
    <i class="bi bi-plus-circle"></i>
    Nuevo producto
  </a>

  {% endif %}
</div>
<div class="row g-4">
  {% for producto in productos %}

  <div class="col-md-6 col-lg-4">
    {% include "partials/product_card.html" %}
  </div>

  {% empty %}

  <div class="col-12">
    <div class="alert alert-info">No hay productos disponibles.</div>
  </div>

  {% endfor %}
</div>

{% endblock %}
