{% extends "base.html" %} 
{% block title %} {{ producto.nombre }} {% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-5">
    {% if producto.imagen %}

    <img
      src="{{ producto.imagen.url }}"
      class="img-fluid rounded shadow-sm"
      alt="{{ producto.nombre }}"
    />

    {% else %}

    <div
      class="bg-light rounded shadow-sm d-flex justify-content-center align-items-center"
      style="height: 350px"
    >
      <i class="bi bi-image fs-1 text-secondary"></i>
    </div>

    {% endif %}
  </div>

  <div class="col-lg-7">
    <h1>{{ producto.nombre }}</h1>

    <hr />

    <h2 class="text-primary">${{ producto.precio }}</h2>

    <p class="mt-4">{{ producto.descripcion }}</p>
    {% if user.is_authenticated and not user.is_staff %}

    <a href="#" class="btn btn-success">
      <i class="bi bi-cart-plus"></i>

      Agregar al carrito
    </a>

    {% endif %} {% if user.is_staff %}

    <div class="mb-4">
      <a
        href="{% url 'ecommerce:product_update' producto.pk %}"
        class="btn btn-warning"
      >
        <i class="bi bi-pencil-square"></i>
        Editar
      </a>

      <a
        href="{% url 'ecommerce:product_delete' producto.pk %}"
        class="btn btn-danger"
      >
        <i class="bi bi-trash"></i>
        Eliminar
      </a>
    </div>

    {% endif %}
    <a href="{% url 'ecommerce:product_list' %}" class="btn btn-secondary">
      Volver al catálogo
    </a>
  </div>
</div>

{% endblock %}
